//
   Created by Nihrom on 22.06.2017.
header.header
    .container
        .header_info.row.no-gutters
            .col-5
                a.logo(href="#")
                    img(src="images/logo.png")

            .col
                .row.no-gutters
                    .col
                        .contact_block
                            .contact_block_icon
                                i.fa.fa-map-marker(aria-hidden="true")

