doctype html
html
    head
        link(href="https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600&amp;subset=cyrillic" rel="stylesheet")
        //
            link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/main.min.css")
        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        title Стоматология ЦуаньЮнь
        block Landing Yet

    body
        include sections/header

