doctype html
html
    head
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        title Стоматология ЦуаньЮнь
        block Landing Yet

    body
        div
            h1 Hahaha
            h2 FSdsdsdsd
            h3 fdfsdfsdf
            h4 fdsfdsfsd

        button.btn.btn-primary Button


        nav.navbar.navbar-toggleable-md.navbar-light
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="#") dasdasdsa
                li.nav-item
                    a.nav-link(href="#") dasdasdsa
                li.nav-item
                    a.nav-link(href="#") dasdasdsa