doctype html
html
    head
        link(rel="stylesheet" href="css/main.css")
        title Стоматология ЦуаньЮнь
        block Landing Yet

    body
        h1 Hahaha
        h2 FSdsdsdsd
        h3 fdfsdfsdf
        h4 fdsfdsfsd
