// Fonts
$ff-main: 'Exo2 Regular';
$ff-main-light: 'Exo2 Light';
$ff-main-bold: 'Exo2 Bold';


$primary-color: #767676; //Обычный цвет текста
$secondary-color: #7ecfc8; //Фторостепенный цвет текста, под заголовком
$third-color: #b2b2b2; //Фторостепенный цвет текста, под заголовком
$header-color: #3d3d3d; //Цвет заголовков
$inverse-color: #fff; //Цвет инверсированный, по умолчанию белый